@import 'tailwindcss';
@theme {
  --breakpoint-xs: 20rem;

  --color-bg: #dcf5ff;
  --color-active: #0073a166;
  --color-bluePrimary: #0073a1;
  --color-blueDark: #105078;
  --color-gray100: #ddddddff;
  --color-gray200: #979797ff;

  --shadow-box: 0 6px 8px rgba(0, 0, 0, 0.25);

  --aspect-card: 3/4;
}
@layer utilities {
  .grid-auto-fill-90 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
  }
  .grid-auto-fit-110 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  }
  .skills-item {
    @apply flex aspect-square items-center justify-center rounded-lg bg-white drop-shadow-lg;
  }
  .box-shadow {
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.25);
  }
  .animate-skeleton {
    border-radius: 6px;
    background: linear-gradient(
      to right,
      var(--color-gray200) 0%,
      var(--color-gray100) 50%,
      var(--color-gray200) 100%
    );
    background-size: 200% 100%;
    animation: 1.7s skeletonGradientWave linear infinite;
  }
}
@keyframes skeletonGradientWave {
  to {
    background-position-x: -200%;
  }
}
